<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testapp1</title>
</head>
<body>
    <%= response.user %>
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../Partials/BootStrap.ejs') %>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand ps-2" href="/">TestApp1</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href=""><%= response.user %></a>
                </li>
            </ul>
        </div>
    </nav>
    
    
    
    
            
            <div class="text-center mx-auto mt-1 pt-5" style="width: 480px;">
                <div class="text-center mx-auto mt-1 pt-5" style="width: 480px;">
            
                    <h2 class="h3 mb-3 front-weight-normal">App 1</h2>
                    <p>This is an example application</p>
                    
        
                </div>
            </div>
        
        
    
    
    
    <%- include('../Partials/Footer.ejs') %>
</body>
</html>